{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Выйти" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Выйти" %}
    {% endelement %}
    <p>{% trans 'Вы уверены, что хотите выйти?' %}</p>
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Выйти' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
<br><hr>
<button style="display: block; margin: 0 auto;" onclick="history.back()" >Назад</button><br><br>
{% endblock content %}
