{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Изменить пароль" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% if token_fail %}
            {% trans "Плохой токен" %}
        {% else %}
            {% trans "Изменить пароль" %}
        {% endif %}
    {% endelement %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}Не рабочая ссылка. Возможно она уже была использована. Пожалуйста, закажите a <a href="{{ passwd_reset_url }}">новую</a>.{% endblocktrans %}
        </p>
    {% else %}
        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" name="action" %}
                    {% trans 'Изменить пароль' %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% endif %}
{% endblock content %}
