{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Обновить пароль" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Обновить пароль" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% blocktrans %}Мы отправили Вам письмо. Если Вы не получили его, то проверьте папку со спамом. В противном случае свяжитесь с нами, если вы не получите его в течение нескольких минут..{% endblocktrans %}
    </p>
{% endblock content %}
