{% extends "account/base_manage.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Подтвердите Вашу почту" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Подтвердите Вашу почту" %}
    {% endelement %}
    {% url 'account_email' as email_url %}
    <p>
        {% blocktrans %}Нам необходимо знать, что Вы являетесь тем, за кого себя выдаете.  Для этого мы требуем, чтобы вы
подтвердили право собственности на свой адрес электронной почты. {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}Мы отправили вам электронное письмо для
проверка. Пожалуйста, нажмите на ссылку внутри этого письма. Если вы не видите письмо с подтверждением в основном почтовом ящике, проверьте папку со спамом. В противном случае
свяжитесь с нами, если вы не получите его в течение нескольких минут.{% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}<strong>Примечание:</strong> Вы все ещеможете <a href="{{ email_url }}">поменять адрес электронной почты</a>.{% endblocktrans %}
    </p>
{% endblock content %}
