{% extends 'default.html' %}

{% block title %}
Categories
{% endblock title %}

{% block content %}
<br>
Категории:
{% for cat in categories %}
<style>
    .round-link {
        display: inline-block;
        border: 2px solid black;
        border-radius: 50%;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
    }
</style>

{% if cat.id == category.id %}
<a >{{ category.get_name_display }}</a>
{% else %}
<a href="{% url 'category' cat.id %}" class="round-link">{{ cat.get_name_display }}</a>
{% endif %}
{% endfor %}

<br>
{% if posts %}
<br>
<h5>Количество статей: {{ posts|length }}</h5>

<hr>
{% for pst in posts %}

        <a>Дата публикации: {{ pst.created|date:'d m Y'}}</a><br>
        <a>Автор: {{ pst.author.username }}</a><br><br>
        <a>{{ pst.title }}</a><br><br>
        <a>{{ pst.content|safe|truncatewords:20 }}</a>
<a href="{% url 'reply_list' pst.pk %}" class="btn btn-dark btn-sm"><span class="icon"><i class="fa fa-comment-o"></i></span>Отклики ({{ pst.replies.all.count }})</a>

<hr>
{%endfor%}

{% else %}
<br><br><br>
<h3>В данной категории статей нет</h3>

{% endif %}

{% endblock content %}