{% extends "main.html" %}

{% block content %}
<style>
    .form-container {
        text-align: center;
    }
</style>

<div class="form-container">
    <h2>Войти в систему</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
<center>
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
</center><br>

        <input type="submit" value="Войти">
        <button><a style="text-decoration: none; color: black" href="/sign/signup">Регистрация</a></button>
    </form>
</div>
{% endblock %}