{% extends "default.html" %}

{% block content %}
<br>
<h1>Изменить данные</h1>

{% if messages %}
    <ul class="messages" style="color:green">
        {% for message in messages %}
            <h5{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
        {% endfor %}
    </ul>
{% endif %}

<hr>
<br>
<form action="" method="post" style="text-align: left">
    {% csrf_token %}
    {{ form.as_p }}
    <input  type="submit" value="Сохранить" />

</form>
<br>
<button onclick="window.location.href='/accounts/email/'" style="float: left;">Изменить / Добавить почту</button><br><br>
<button onclick="window.location.href='/accounts/password/change'" style="float: left;">Изменить пароль</button><br><br>
<hr>
<br>
<button style="display: block; margin: 0 auto;" onclick="location.href='{% url 'user_detail' request.user.id %}'" >Назад</button><br><br>

{% endblock %}