{% extends "default.html" %}

{% block content %}
<br><br>
<h3 align="center">Персональные данные</h3>
<br><br>
<table border="3", cellpadding="5", align="center">
    <tr>
        <td style="color: blue" align="left">Имя пользователя: </td>
        <td align="left">{{ user_detail.username }}</td>
    </tr>
    <tr>
        <td style="color: blue" align="left">Почта: </td>
        <td align="left">{{ user_detail.email }}</td>
    </tr>
    <tr>
        <td style="color: blue" align="left">Имя: </td>
        <td align="left">{{ user_detail.first_name }}</td>
    </tr>
    <tr>
        <td style="color: blue" align="left">Фамилия: </td>
        <td align="left">{{ user_detail.last_name }}</td>
    </tr>
      <tr>
        <td style="color: blue" align="left">Зарегестрирован: </td>
        <td align="left">{{ user_detail.date_joined | date:'d.m.Y'}}</td>
    </tr>

</table>
<br><br>
<a href="{% url 'user_edit' request.user.id %}" class="btn btn-dark btn-sm"><span class="icon"><i class="fa fa-comment-o"></i></span>Редактировать</a>
<br><br>
<button onclick="window.location.href='{% url 'profile' %}'">Назад</button>

{% endblock %}