{% extends 'default.html' %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<br>
<h5>Объявление:</h5>
        <p style="color: blue; display: inline;">Категория:</p> <span style="display: inline;">{{ post.category.get_name_display }}</span><br>
        <p style="color: blue; display: inline;">Дата публикации:</p> <span style="display: inline;">{{ post.created|date:'d.m.Y'}}</span><br>
        <p style="color: blue; display: inline;"> Автор: </p> <span style="display: inline;">{{ post.author.username }}</span><br><br>
<a href="{% url 'post' post.pk %}">{{ post.title }}</a><br><br>
<a>{{ post.content|safe|truncatewords:20 }}</a>
<div>
        {% if messages %}
    <ul class="messages" style="color:green">
        {% for message in messages %}
            <h5 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
        {% endfor %}
    </ul>
{% endif %}
</div>

<form method="POST" action="" >
  {% csrf_token %}
  {{ form.as_p }}
<button type="submit" class="btn btn-dark btn-sm"><span class="icon"><i class="fa fa-comment-o"></i></span>Оставить отклик</button>
  </form>
{% if replies %}

<ul><br>

    <button style="display: block; margin: 0 auto; align-items: center;" onclick="location.href='{% url 'posts' %}'" >Назад</button><br><br>
 <hr>
{% for reply in replies %}
<ol style="text-align: left;">
    <p style="color: blue; display: inline;">Автор:</p> <span style="display: inline;">{{ reply.user.username }}</span><br>
    <p style="color: blue; display: inline;">Дата:</p> <span style="display: inline;">{{ reply.created|date:'m.d.Y' }}</span><br><br>
{{reply.text}}<br><br>
 {% if reply.status == False %}
        {% if post.author.id == user.id%}
    <a style="color: red" href="{% url 'user_reply_new' post.id 'new' %}">Модерировать</a>

        {% else %}
    <p style="color: red;">(Проходит модерацию)</p>
 {% endif %}
    {% endif %}
    {% if user.id == reply.user.id %}
    <a>Ваш отклик - </a>
    <a style="color: red" href="{% url 'user_reply_update' reply.id 'delete' %}">Удалить</a>
     {% endif %}
 </ol>
    <hr>
 <br>
{% endfor%}
 </ul>
<button style="display: block; margin: 0 auto;" onclick="location.href='{% url 'reply_list' post.id %}'" >Наверх</button><br><br>
{% else %}
<br><h3>Откликов нет (возможно, проходят модерацию)</h3><br>
<button style="display: block; margin: 0 auto;" onclick="location.href='{% url 'posts' %}'" >Назад</button><br><br>
{% endif%}

{% endblock content %}

