{% extends 'default.html' %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<br>
Категории:
{% for cat in categories %}
<style>
    .round-link {
        display: inline-block;
        border: 2px solid black;
        border-radius: 50%;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
    }
</style>
<a href="{% url 'category' cat.id %}" class="round-link">{{ cat.get_name_display }}</a>
{% endfor %}

<hr>

{% if posts %}

{% for pst in posts %}

        <a> Категория: {{ pst.category.get_name_display }}</a><br>
        <a> Дата публикации: {{ pst.created|date:'d.m.Y'}}</a><br>
        <a> Автор: {{ pst.author.username }}</a><br><br>
        <a class="nav-link" href="/post/{{pst.pk}}">{{ pst.title }}</a><br>
        <a>{{ pst.content|safe|truncatewords:20 }}</a>

{% if is_authenticated %}
<a href="{% url 'reply_list' pst.pk %}" class="btn btn-dark btn-sm"><span class="icon"><i class="fa fa-comment-o"></i></span>Отклики ({{ pst.replies.all.count }})</a>
{% else %}
<a href="{% url 'login_warning' %}" class="btn btn-dark btn-sm"><span class="icon"><i class="fa fa-comment-o"></i></span>Отклики ({{ pst.replies.all.count }})</a>
{% endif%}

<hr>
{%endfor%}
<br>
{% else %}
<h2>Объявлений не найдено</h2>
{% endif %}

<button style="display: block; margin: 0 auto;" onclick="location.href='{% url 'posts' %}'" >Наверх</button><br><br>
{% endblock content %}
