{% extends 'default.html' %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<br>
<h5>Объявление: {{post.id}}</h5>

<h7 align="left">Автор: {{ post.author }}</h7>
<h7 align="left">Дата публикации: {{ post.created | date:'d m Y' }}</h7>
<h7 align="left">Категория: {{ post.category}}</h7><hr>
<h5 align="center">{{ post.title }}</h5>
<h5 align="center">{{ post.media }}</h5>
<a>{{ post.content | safe }}</a>
<br>
<form method="POST" action="" >
  {% csrf_token %}
  {{ form.as_p }}
<button type="submit" class="btn btn-dark btn-sm"><span class="icon"><i class="fa fa-comment-o"></i></span>Оставить отклик</button>
<a href="{% url 'reply_list' post.pk %}" class="btn btn-dark btn-sm"><span class="icon"><i class="fa fa-comment-o"></i></span>Все отклики ({{ post.reply.all.count }})</a>
  </form>
{% endblock content %}
